<ion-card>
    <ion-card-title align="center">
        {{ title }}
    </ion-card-title>
    <ion-card-content>
        <div>
            <h2> Email </h2>
            <ion-item>
                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <h2> Contraseña </h2>
            <ion-item>
                <ion-input name="password" type="password" placeholder="password" ngModel required></ion-input>
            </ion-item>
        </div>
        <br>
        <div align="center">
            <h2 class="dark"> He olvidado mi contraseña </h2>
            <app-button routerLink="/home" title="Iniciar Sesión"></app-button>
        </div>
        <br>
        <div align="center">
            <h2 class="dark"> No tengo cuenta</h2>
            <app-button routerLink="/sign-in" title="Registrarse"></app-button>
        </div>
        <h2 class="guest dark"> Entrar como invitado </h2>
    </ion-card-content>

</ion-card>